.search-banner-reports {
    background-color: #0094D1;
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.report-button {
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.report-button img.button-icon {
    margin-right: 10px;
    width: 30px;
}

.report-button.general {
    color: #0094D1;
}

.report-button.unique {
    color: #BFD732;
}

.report-button:hover {
    background-color: #f0f0f0;
}
