/* Banner de entregas */
.deliveries-banner {
    background-color: #0094D1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    position: relative;
}

/* Botón de entregas */
.deliveries-button {
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.deliveries-button img.button-icon {
    margin-right: 10px;
    width: 30px;
}

.deliveries-button.deliveries {
    color: #e5e5d1;
    background-color: brown;
}

/* Contenedor de información adicional (si aplica) */
.deliveries-info {
    background-color: #F1FFFA;
    border-radius: 8px;
    padding: 20px;
}

/* Contenedor de los botones */
.button-container {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* Estilo general para los botones responsivos */
.responsive-button {
    padding: 12px 24px;
    font-weight: bold;
    font-size: 18px;
    width: auto;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .deliveries-banner {
        padding: 10px;
    }

    /* Ajusta el ancho del botón y el select en tabletas */
    .deliveries-button {
        font-size: 14px;
        padding: 8px 16px;
        width: 100%;
        margin-top: 10px;
    }

    .custom-select__control {
        width: 90%;
    }

    .button-container {
        justify-content: center;
    }

    .responsive-button {
        width: 50% !important;
        font-size: 16px !important;
        padding: 8px 16px !important;
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 576px) {
    /* Ajuste adicional en pantallas muy pequeñas */
    .deliveries-button {
        font-size: 12px;
        padding: 6px 12px;
        width: 35%;
        margin-right: 250px;
    }

    .custom-select__control {
        font-size: 12px;
    }

    .responsive-button {
        width: 50% !important;
        font-size: 14px !important;
        padding: 8px 16px !important;
        margin: 0 auto;
        display: block;
    }
}

/**/
.button-grid-cell {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 10px; /* Espaciado entre botones */
    padding: 10px;
}

/* Estilo de los botones */
.custom-file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: #1abcd9;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente para botones medianos */
    font-weight: bold;
    text-align: center;
    width: 100%; /* Ocupa el ancho completo de la celda */
    max-width: 150px; /* Ancho máximo del botón */
}

.custom-file-input {
    display: none; /* Oculta el input file original */
}

.custom-file-label:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
}