/* Contenedor principal */
.payment-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Revisiones */
.revisions {
    margin-top: 20px;
}

.revisions h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.payment-cards {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
}

.payment-card {
    flex: 1;
    background: #659FFF;
    padding: 10px;
    position: relative;
    border-radius: 8px;
    min-height: 130px;
}

.payment-card-title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 22px;
    color: #2148C0;
}

.payment-card img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 70px;
}

/* Estado */
.payment-status {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.payment-status h3 {
    font-size: 24px;
}

.payment-status-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #A2DDF6;
    padding: 20px;
    border-radius: 8px;
    height: 85px;
    width: 100%;
}

.payment-status-text {
    margin: 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    color: #2148C0;
}

.payment-status-card img {
    width: 80px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .revisions {
        margin-right: 30px;
    }

    .payment-cards {
        flex-direction: column;
        gap: 20px;
    }

    .payment-card {
        width: 100%;
    }

    .payment-srarys-content {
        width: 100%;
        margin-right: 30px;
    }

    .payment-status-item {
        flex: 1 1 100%;
    }
}