.footer-image-container {
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden; /* Asegura que el contenido no cause desbordamiento */
}

.footer-image {
    width: 100%;
    max-width: 100%; /* Limita el ancho máximo al 100% del contenedor */
    height: auto;
}

@media (max-width: 768px) {
    .footer-image {
        max-width: 90%;
    }
}

@media (max-width: 576px) {
    .footer-image {
        max-width: 80%;
        margin-left: 30px;
    }
}

