.pagination-buttons .pagination {
    justify-content: center;
}

.input-responsive {
    padding: 5px;
    width: 100%;
    max-width: 300px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.button-order-responsive {
    font-size: 14px;
    padding: 8px 16px;
    margin-right: 10px;
}

.button-responsive {
    padding: 10px 20px;
    font-size: 16px;
}

.responsive-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    box-sizing: border-box;
}


@media (max-width: 768px) {
    .table-responsive .table th,
    .table-responsive .table td {
        font-size: 14px; /* Ajusta el tamaño de la fuente */
        padding: 8px;    /* Ajusta el padding */
        white-space: nowrap; /* Evita que el texto se divida */
    }

    /* Opcional: reducir márgenes de la búsqueda */
    .container .content input[type="text"] {
        margin-bottom: 10px;
    }

    .input-responsive {
        width: 90%;
        max-width: 100%;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .button-order-responsive {
        width: 40%;
        font-size: 14px;
        padding: 8px 16px;
        margin-bottom: 10px;
    }

    .responsive-container {
        flex-direction: column;
        width: 97%;
    }
}

@media (max-width: 576px) {
    .input-responsive {
        width: 90%;
        font-size: 14px;
        padding: 8px;
    }

    .button-order-responsive {
        width: 40%;
        font-size: 14px;
        padding: 8px 16px;
    }

    .responsive-container {
        width: 90%;
    }

    .d-flex {
        align-items: flex-start !important;
    }
}