/* Contenedor principal del banner de reportes */
.search-banner-reports {
    background-color: #0094D1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    position: relative;
}

/* Estilos de los botones de reportes */
.reporting-system-button {
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    align-items: center;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    min-width: 150px;
    max-width: 100%;
    width: 100%;
    margin: 0 5px;
}

/* Iconos dentro de los botones */
.reporting-system-button img.button-icon {
    margin-right: 10px;
    width: 30px;
}

/* Estilos específicos para cada tipo de botón */
.reporting-system-button.general {
    color: #0094D1;
}

.reporting-system-button.unique {
    color: #BFD732;
}

.reporting-system-button.deliveries {
    color: #e0db48;
}

.reporting-system-button:hover {
    background-color: #f0f0f0;
}

/* Estilos para las opciones de autorización (select personalizado) */
.authorization-options {
    background-color: #fff;
    border: 1px solid #2148C0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Personalización del control del select */
.custom-select__control {
    border-color: #2148C0 !important;
    box-shadow: none !important;
    min-height: 30px !important;
    font-size: 14px !important;
    margin-top: 10px !important;
}

.custom-select__control:hover {
    border-color: #2148C0 !important;
}

.custom-select__placeholder {
    color: #2148C0 !important;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .search-banner-reports {
        padding-bottom: 10px;
    }

    .reporting-system-button {
        font-size: 14px;
        padding: 8px 16px;
        width: 80%;
        margin-bottom: 10px;
        display: flex;
    }

    .authorization-options {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .reporting-system-button {
        font-size: 12px;
        padding: 6px 12px;
        display: flex;
    }

    .authorization-options {
        width: 85%;
        padding: 15px;
        margin: 0 auto;
    }
}
