
/**/
.search-banner {
    background-color: #2148C0;
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-select {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

.input-group-text {
    background-color: transparent;
    border: none;
}

.banner-icon {
    position: absolute;
    right: 245px;
    bottom: 20px;
    width: 60px;
    height: 60px;
}

/**/
.select-container {
    width: 100%;
}

.addProductButton {
    color: white !important;
    background-color: #40A581 !important;
}

/**/
.title-div {
    padding: 5px;
}

.title-div h3 {
    font-family: 'Nunito', sans-serif;
    color: #2148C0;
    margin: 0;
    font-size: 40px;
    font-weight: 900;
    text-align: left;
}

/**/
.small-input {
    width: 60px !important;
    height: 30px !important;
    font-size: 14px !important;
    padding: 5px !important;
    box-sizing: border-box !important;
}

.head-title-table {
    border: 2px solid #BFD732;
    border-radius: 5px;
    padding: 10px;
}

.head-title-balance {
    background-color: #AECA13;
    padding: 10px;
    border-radius: 5px;
}

.table-responsive {
    overflow-x: auto;
}

.small-input {
    width: 60px !important;
    height: 30px !important;
    font-size: 14px !important;
    padding: 5px !important;
    box-sizing: border-box !important;
}

.table thead th {
    background-color: #40A581;
    color: white;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.subtotal-text {
    font-size: 18px;
}

.total-text {
    font-size: 18px;
    font-weight: bold;
    color: #2E7D32;
}

.button-responsive {
    font-size: 18px;
    padding: 10px 20px;
    width: auto;
}

@media (max-width: 768px) {
    .banner-icon {
        right: 100px;
    }

    .head-title-table {
        padding: 5px;
        width: 85%;
        margin-left: 25px !important;
    }

    .head-title-table {
        padding: 5px;
        width: 85%;
        margin-left: 25px !important;
    }

    .title-div h3 {
        font-size: 25px;
        font-weight: 800;
        text-align: center;
    }

    .table-responsive {
        width: 90% !important;
    }

    .table {
        font-size: 14px; /* Reduce el tamaño de fuente en pantallas de tabletas */
    }

    .small-input {
        width: 50px !important; /* Reduce el ancho de los inputs en tabletas */
        font-size: 12px !important;
    }

    .subtotal-text {
        font-size: 16px;
        text-align: center;
    }

    .total-text {
        font-size: 16px; /* Reducir el tamaño del texto en pantallas más pequeñas */
        text-align: center;
    }

    .text-md-end {
        text-align: center !important; /* Centrar el texto y botones en pantallas pequeñas */
    }

    .text-md-end {
        margin-right: 9%;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .button-responsive {
        font-size: 12px !important;
        padding: 6px 12px;
        width: 60%;
        margin-bottom: 10px;
    }

    .text-md-end {
        margin-right: 9%;
    }
}

@media (max-width: 576px) {
    .banner-icon {
        display: none;
    }

    .select-container {
        width: 75%;
        margin-left: 45px;
    }

    .head-title-table {
        padding: 5px;
        width: 85%;
        margin-left: 25px !important;
    }

    .title-div h3 {
        font-size: 25px;
        font-weight: 800;
        text-align: center;
    }

    table {
        font-size: 12px; /* Reduce aún más el tamaño de fuente en móviles */
    }

    .table-responsive {
        width: 90% !important;
    }

    .table thead th, .table tbody td {
        padding: 8px; /* Reduce el padding de las celdas en móviles */
    }

    .small-input {
        width: 40px !important; /* Reduce el ancho de los inputs en móviles */
        height: 25px !important;
        font-size: 10px !important;
    }

    .subtotal-text {
        font-size: 16px;
    }

    .total-text {
        font-size: 14px; /* Ajustar aún más el tamaño del texto en pantallas extra pequeñas */
    }

    .button-responsive {
        font-size: 12px !important;
        padding: 6px 12px;
        width: 60%;
        margin-bottom: 10px;
    }
}