.beneficiary-review-header {
    background-color: #8DC5FE;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    margin-top: -40px;
}

/* Contenedor para los textos */
.beneficiary-review-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 90px;
}

/* Título centrado vertical */
.beneficiary-review-header h2 {
    margin: 0;
    font-size: 38px;
    font-weight: 900;
    line-height: 1;
}

/* Subtítulo "Revision" más pequeño que el título */
.beneficiary-review-header h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
}

/* Imagen sobresaliente */
.beneficiary-review-img {
    height: 130px;
    width: auto; /* Mantiene las proporciones de la imagen */
    align-self: center; /* Alinea la imagen al centro verticalmente respecto a los textos */
}
